<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header row">
                <!-- <div class="col-md-9"> -->
                <h5>Centros de trabajo del usuario</h5>
                <!-- </div> -->
                <!-- <div class="col-md-3"><a type="button" style="float:right" class="btn btn-dark"
                        (click)=" openFormDialog()">
                        Registrar centro de trabajo
                        <i class="fa fa-save"></i>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div>
    <table class="table">
        <caption>centros de trabajo</caption>
        <thead>
            <tr>
                <th scope="col"> # </th>
                <th scope="col" sortable="name">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Empresa</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

            <tr *ngFor="let item of listCetroTrabajo.workplaces; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td scope="row">{{item.nombre}}</td>
                <td> {{item.descripcion}}</td>
                <td> {{item.idEmpresa}} </td>
                <td> {{item.idEstado}}</td>
            </tr>
        </tbody>
    </table>
</div>